<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>code challenge orve</title>
  </head>
  <body>
    <h1>Importación de archivo</h1>
    <div class="container">
      <%= form_for(:shopping, :url=> {:controller => 'shoppings'}, :html => {:id => "import_file", :remote => true}, :method => 'post') do |f| %>
        <div class="mb-3">
          <label for="" class="form-label">Cargar archivo</label>
          <%= f.file_field :files%>
        </div>

        <%= f.submit "Capturar"%>
      <% end %>
    </div>
    <button class="show-btn">Mostrar alerta</button>

    <script>
      $('.show-btn').on('click', function() {
        alert("Esta es una prueba");
      });
    </script>
  </body>
</html>