
    <h1>Importación de archivo</h1>
    <div class="container">
      <%= form_for(:shopping, :url=> {:controller => 'shoppings', :action => 'create'}, :html => {:id => "import-file", :remote => false}, :method => 'post') do |f| %>
        <div class="mb-3">
          <label for="" class="form-label">Cargar archivo</label>
          <%= f.file_field :files%>
        </div>

        <%= f.submit "Capturar"%>
      <% end %>
    </div>

    <script>
    import * as d3 from "d3" 
      $('#import-file').submit('click', function(e) {
        e.preventDefault();
        console.log("alto")
        var stimuliArray = "";
        file = $('#shopping_files').prop('files')
      });
    </script>
